<p id="notice"><%= notice %></p>

<section class="header_message">
  <a href="<%= conversations_path %>">
    <div class="header_message_row d-flex justify-content-left">
      <div class="header_message_back p-2">
        <h1><</h1>
      </div>
      <div class="header_message_title p-2">
        
        <% if @conversation.user2 == current_user %>
        <h1><%= @conversation.user1.name %></h1>
        <% else %>
        <h1><%= @conversation.user2.name %></h1>
        <% end %>
      </div>
    </div>
  </a>
</section>

<section class="messages">
  <% @messages.each do |message| %>
    
      <% if message.sender == current_user %>
      <div class="message d-flex flex-row justify-content-start align-items-stretch">
        <div class="message_sender p-2">
          <p><%= message.sender.name %></p>
        </div>
        <div class="message_content message_by_current_user p-2">
          <p><%= simple_format(parse_emoji(message.content)) %></p>
        </div>
      </div>
      <% else %>
      <div class="message d-flex flex-row justify-content-end align-items-stretch">
        <div class="message_content p-2">
          <p><%= simple_format(parse_emoji(message.content)) %></p>
        </div>
        <div class="message_sender p-2">
          <p><%= message.sender.name %></p>
        </div>
      </div>
      <% end %>
  <% end %>
</section>

<!-- <footer class="footer write_message">
  <div class="write_message_content">
    <textarea></textarea>
  </div>
</section> -->


<footer class="footer">
  <!-- <div class="container"> -->
    <!-- <span class="text-muted">Place sticky footer content here.</span> -->
    <%= render 'form', message: @new_message %>
  <!-- </div> -->
</footer>
<%#= link_to 'New Message', new_conversation_message_path %>
